android/assets/
android/bin/
android/gen/
android/libs/
android/local.properties
android/obj/
android/plugin_carrot.c
android/proguard-project.txt

build/

ios/build/
ios/Plugin.xcodeproj/xcuserdata/
ios/PluginTestApp.xcodeproj/xcuserdata/
ios/PluginTestApp.xcodeproj/project.xcworkspace/

.DS_Store
